body{
    background-color: rgb(10,161,163);
    color: rgb(62,62,62);
    font-family: 'Courier New';
}

h1{
    background-color: rgb(62,62,62);
    color: rgb(10,161,163);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

form{
    background-color: rgb(10,161,163);
    border: 2px solid rgb(62,62,62);
    width: 500px;
    height: 350px;
    padding: 20px;
    margin-left: 30%;
    margin-top: 15%;
}

#submitButton{
    background-color: rgba(0,0,0,0);
    margin-top: 0;
    border: 2px solid rgb(62,62,62);
    cursor: pointer;
    width: 100px;
    height: 40px;
}

#submitButton:hover{
    background-color: rgb(62,62,62);
    color: rgb(10,161,163);
    font-size: 20px;
}